<module>
	<rawname>infoservices</rawname>
	<repo>standard</repo>
	<name>Info Services</name>
	<version>2.10.0.2</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<candisable>no</candisable>
	<canuninstall>no</canuninstall>
	<category>Applications</category>
	<description>Provides a number of applications accessible by feature codes: company directory, call trace (last call information), echo test, speaking clock, and speak current extension number.</description>
	<changelog>
		*2.10.0.2* #5115
		*2.10.0.1* #5478 
		*2.10.0.0* new version changes
		*2.9.0.0* #4653
	</changelog>
	<location>release/2.10/infoservices-2.10.0.2.tgz</location>
	<md5sum>27d197642d183ded3c4ed4e1afcfba59</md5sum>
</module>
