<module>
	<rawname>featurecodeadmin</rawname>
	<repo>standard</repo>
	<name>Feature Code Admin</name>
	<version>2.10.0.3</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<candisable>no</candisable>
	<canuninstall>no</canuninstall>
	<category>Admin</category>
	<menuitems>
		<featurecodeadmin>Feature Codes</featurecodeadmin>
	</menuitems>
	<location>release/2.10/featurecodeadmin-2.10.0.3.tgz</location>
	<changelog>
		*2.10.0.3* #5488
		*2.10.0.2* #5506 revert of r13179 
		*2.10.0.1* #5463
		*2.10.0.0* new version changes
		*2.9.0.0* #4617, #4653, #4655
	</changelog>
	<depends>
		<version>2.5.0alpha1</version>
	</depends>
	<md5sum>22b710c1adcd9144e356fc173fbfe65f</md5sum>
</module>
