[Desktop Entry]
Type=Application
Name=GNOME Shell
Name[ar]=صدفة جنوم
Name[as]=GNOME শ্বেল
Name[ast]=GNOME Shell
Name[be]=GNOME Shell
Name[bg]=GNOME Shell
Name[bn_IN]=GNOME Shell
Name[ca]=GNOME Shell
Name[ca@valencia]=GNOME Shell
Name[crh]=GNOME Qabuğı
Name[cs]=GNOME Shell
Name[da]=GNOME Shell
Name[de]=GNOME-Shell
Name[el]=GNOME Shell
Name[en_GB]=GNOME Shell
Name[es]=GNOME Shell
Name[et]=GNOME Shell
Name[eu]=GNOME Shell
Name[fa]=پوسته گنوم
Name[fi]=GNOME-kuori
Name[fr]=GNOME Shell
Name[ga]=Blaosc GNOME
Name[gl]=GNOME Shell
Name[gu]=GNOME Shell
Name[he]=GNOME Shell
Name[hi]=गनोम शैल
Name[hu]=GNOME Shell
Name[id]=Shell GNOME
Name[it]=GNOME Shell
Name[ja]=GNOME shell
Name[km]=សែល​របស់ GNOME
Name[kn]=GNOME ಶೆಲ್‌
Name[ko]=그놈 셸
Name[ky]=GNOME Shell
Name[lt]=GNOME apvalkalas
Name[lv]=GNOME čaula
Name[mk]=GNOME Shell
Name[ml]=ഗ്നോം ഷല്‍
Name[mr]=GNOME शेल
Name[nb]=GNOME skall
Name[pa]=ਗਨੋਮ ਸ਼ੈਲ
Name[pl]=Powłoka środowiska GNOME
Name[pt]=Interface GNOME
Name[pt_BR]=GNOME Shell
Name[ru]=GNOME Shell
Name[sk]=GNOME Shell
Name[sl]=Gnome lupina
Name[sr]=Гномова шкољка
Name[sr@latin]=Gnomova školjka
Name[sv]=GNOME Shell
Name[ta]=க்னோம் ஷெல்
Name[te]=GNOME షెల్
Name[th]=GNOME Shell
Name[tr]=GNOME Kabuğu
Name[uk]=GNOME Shell
Name[vi]=Hệ vỏ GNOME
Name[zh_CN]=GNOME Shell
Name[zh_HK]=GNOME Shell
Name[zh_TW]=GNOME Shell
Comment=Window management and compositing
Comment[ar]=إدارة النوافذ والمزج
Comment[as]=উইন্ডো ব্যৱস্থাপনা আৰু সংৰচনা
Comment[ast]=Xestor de composición de ventanes
Comment[be]=Кіраванне вокнамі і аконная кампазіцыя
Comment[bg]=Управление и наслагване на прозорци
Comment[bn_IN]=উইন্ডো পরিচালনা ও প্রস্তুতি
Comment[ca]=Gestió de finestres i composició
Comment[ca@valencia]=Gestió de finestres i composició
Comment[crh]=Pencere idaresi ve bileşikleme
Comment[cs]=Správce oken a kompozitor
Comment[da]=Vindueshåndtering og -sammensætning
Comment[de]=Fensterverwaltung und Compositing
Comment[el]=Διαχείριση παραθύρου και σύνθεσης
Comment[en_GB]=Window management and compositing
Comment[es]=Gestor de composición de ventanas
Comment[et]=Akna- ja komposiithaldus
Comment[eu]=Leihoen kudeaketa eta konposizioa
Comment[fa]=مدیر و ترکیب‌ساز پنجره
Comment[fi]=Ikkunoiden hallinta ja latominen
Comment[fr]=Gestion et composition des fenêtres
Comment[gl]=Xestión e composición de xanelas
Comment[gu]=વિન્ડો વ્યવસ્થાપન અને કમ્પોઝીટીંગ
Comment[he]=ניהול ועיצוב חלונות
Comment[hi]=विंडो प्रबंधन और कंपोसिटिंग
Comment[hu]=Ablakkezelés és kompozitálás
Comment[id]=Pengompositan dan manajemen jendela 
Comment[it]=Gestisce e compone le finestre
Comment[ja]=ウィンドウ管理とコンポジション
Comment[km]=សមាសភាគ និង​ការ​គ្រប់គ្រង​បង្អួច
Comment[kn]=ಕಿಟಕಿ ನಿರ್ವಹಣೆ ಹಾಗು ಮಿಶ್ರಗೊಳಿಕೆ
Comment[ko]=창 관리 및 창 조합
Comment[ky]=Терезелерди башкаруу жана компоновкалоо
Comment[lt]=Langų valdymas ir komponavimas
Comment[lv]=Logu pārvaldība un komponēšana
Comment[mk]=Менаџмент за прозорци и композитинг
Comment[ml]=വിന്‍ഡോ കൈകാര്യം ചെയ്യല്‍
Comment[mr]=पटल व्यवस्थापन व आयोजन
Comment[nb]=Vinduhåndtering og komposisjon
Comment[pa]=ਵਿੰਡੋ ਪਰਬੰਧ ਅਤੇ ਨਿਰਮਾਣ
Comment[pl]=Składanie i zarządzanie oknami
Comment[pt]=Gestão de janelas e composição
Comment[pt_BR]=Gerenciador de janelas e de composição
Comment[ru]=Управление окнами и компоновкой
Comment[sk]=Správa a kompozícia okien
Comment[sl]=Upravljanje oken in zaganjanje programov
Comment[sr]=Управљање прозорима и састављање
Comment[sr@latin]=Upravljanje prozorima i sastavljanje
Comment[sv]=Fönsterhantering och compositing
Comment[ta]=சாளர மேலாண்மை மற்றும் கூட்டாக்கம்
Comment[te]=తెర  నిర్వాహకి మరియు కం పోస్టింగ్ 
Comment[th]=การจัดการหน้าต่างและ composite
Comment[tr]=Pencere yönetimi ve kompozisyon
Comment[uk]=Керування і компонування вікон
Comment[vi]=Quản lý và tổng hợp cửa sổ
Comment[zh_CN]=窗口管理与混成
Comment[zh_HK]=視窗管理與組合
Comment[zh_TW]=視窗管理與組合
Exec=gnome-shell --mode=gdm
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
