[Desktop Entry]
Name=GNOME On-Screen Keyboard
Name[af]=GNOME-sleutelbord op die skerm
Name[an]=Teclau en pantalla de GNOME
Name[ar]=لوحة مفاتيح الشاشة لجنوم
Name[as]=GNOME পৰ্দা কিবৰ্ড
Name[ast]=Tecláu en pantalla de GNOME
Name[be]=Экранная клавіятура GNOME
Name[bg]=Екранна клавиатура на GNOME
Name[bn]=GNOME অন-স্ক্রিন কীবোর্ড
Name[bn_IN]=GNOME অন-স্ক্রিন কি-বোর্ড (gok)
Name[ca]=Teclat en pantalla del GNOME
Name[ca@valencia]=Teclat en pantalla del GNOME
Name[crh]=GNOME Ekran-üstü Klavyesi
Name[cs]=Klávesnice na obrazovce GNOME
Name[da]=GNOME-skærmtastatur
Name[de]=GNOME Bildschirmtastatur
Name[el]=Πληκτρολόγιο οθόνης GNOME
Name[en_GB]=GNOME On-screen Keyboard
Name[eo]=Surekrana klavaro de GNOMEo
Name[es]=Teclado en pantalla de GNOME
Name[et]=GNOME ekraaniklaviatuur
Name[eu]=GNOMEren pantailako teklatua
Name[fa]=صفحه‌کلید مجازی گنوم
Name[fi]=Gnomen virtuaalinäppäimistö
Name[fr]=Clavier visuel GNOME
Name[fy]=GNOME Kaaiboerd-op-it-Skerm
Name[ga]=Méarchlár Scáileáin GNOME
Name[gl]=Teclado en pantalla de GNOME
Name[gu]=GNOME ઓન-સ્ક્રીન કિબોર્ડ
Name[he]=מקלדת על המסך של GNOME
Name[hi]=GNOME ऑनस्क्रीन कुंजीपट
Name[hu]=GNOME képernyő-billentyűzet
Name[id]=Papan Tik On-Screen GNOME
Name[it]=Tastiera a schermo di GNOME
Name[ja]=GNOME オンスクリーンキーボード
Name[kk]=GNOME экрандағы пернетақта
Name[km]=ក្ដារចុច​នៅ​លើ​អេក្រង់ GNOME
Name[kn]=GNOME ತೆರೆಯ -ಮೇಲಣ ಕೀಲಿಮಣೆ
Name[ko]=그놈 화면 키보드
Name[ky]=GNOME экран алиптактасы
Name[lt]=GNOME klaviatūra ekrane
Name[lv]=GNOME ekrāna tastatūra
Name[mk]=Екранска тастатура на GNOME
Name[ml]=ഗ്നോം ഓണ്‍-സ്ക്രീന്‍ കീബോര്‍ഡ്
Name[mr]=GNOME ऑनस्क्रीन किबोर्ड
Name[nb]=Tastatur på skjermen for GNOME
Name[nn]=GNOME tastatur på skjermen
Name[or]=GNOME ଅନସ୍କ୍ରିନ କି ବୋର୍ଡ
Name[pa]=ਗਨੋਮ ਆਨ-ਸਕਰੀਨ ਕੀਬੋਰਡ
Name[pl]=Klawiatura ekranowa GNOME
Name[pt]=Teclado no Ecrã do GNOME
Name[pt_BR]=Teclado virtual do GNOME
Name[ro]=Tastatură pe ecran GNOME
Name[ru]=Экранная клавиатура среды GNOME
Name[sk]=Klávesnica na obrazovke GNOME
Name[sl]=Zaslonska tipkovnica GNOME
Name[sr]=Гномова тастатура на екрану
Name[sr@latin]=Gnomova tastatura na ekranu
Name[sv]=GNOME Skärmtangentbord
Name[ta]=GNOME திரை விசைப்பலகை
Name[te]=GNOME తెర-పైని కీబోర్డు
Name[th]=แป้นพิมพ์บนจอของ GNOME
Name[tr]=GNOME Ekran Klavyesi
Name[ug]=GNOME ئېكران ھەرپتاختا
Name[uk]=Екранна клавіатура GNOME
Name[vi]=Bàn phím Màn hình GNOME
Name[zh_CN]=GNOME 屏幕键盘
Name[zh_HK]=GNOME 螢幕鍵盤
Name[zh_TW]=GNOME 螢幕鍵盤
Comment=Use an on-screen keyboard
Comment[af]=Gebruik 'n sleutelbord op die skerm
Comment[an]=Fer servir o teclau en pantalla
Comment[ar]=استخدم لوحة مفاتيح الشاشة
Comment[as]=এটা পৰ্দা কিবৰ্ড ব্যৱহাৰ কৰক
Comment[ast]=Usar un tecláu en pantalla
Comment[be]=Уключыць экранную клавіятуру
Comment[bg]=Включване на екранна клавиатура
Comment[bn]=অন-স্ক্রীন কীবোর্ড ব্যবহার করা হবে
Comment[bn_IN]=পর্দায় স্থাপিত কি-বোর্ড ব্যবহার করা হবে
Comment[ca]=Utilitzeu un teclat en pantalla
Comment[ca@valencia]=Utilitzeu un teclat en pantalla
Comment[crh]=Bir ekran-üstü klavye qullan
Comment[cs]=Použije klávesnici na obrazovce
Comment[da]=Brug et skærmtastatur
Comment[de]=Eine Bildschirmtastatur verwenden
Comment[el]=Ενεργοποίηση πληκτρολογίου οθόνης
Comment[en_GB]=Use an on-screen keyboard
Comment[eo]=Uzi surekranan klavaron
Comment[es]=Usar un teclado en pantalla
Comment[et]=Ekraaniklaviatuuri kasutamine
Comment[eu]=Erabili pantailako teklatua
Comment[fa]=استفاده از یک صفحه‌کلید مجازی
Comment[fi]=Näytä virtuaalinäppäimistö
Comment[fr]=Utilise un clavier affiché à l'écran
Comment[fy]=Brûk in kaaiboerd-op-it-skerm
Comment[ga]=Úsáid méarchlár scáileáin
Comment[gl]=Usar un teclado en pantalla
Comment[gu]=ઓન-સ્ક્રીન કિબોર્ડ ને વાપરો
Comment[he]=שימוש במקלדת על המסך
Comment[hi]=ऑनस्क्रीन कुंजीपट का प्रयोग करें
Comment[hu]=Képernyő-billentyűzet használata
Comment[id]=Gunakan papan tik pada layar
Comment[it]=Usa una tastiera a schermo
Comment[ja]=オンスクリーンキーボードを使用
Comment[kk]=Экрандағы пернетақтаны қолдану
Comment[km]=ប្រើ​ក្ដារ​ចុច​នៅ​លើ​អេក្រង់
Comment[kn]=ತೆರೆಯ-ಮೇಲಣ ಕೀಲಿಮಣೆಯನ್ನು ಬಳಸಿ
Comment[ko]=화면 키보드 사용
Comment[ky]=Экран алиптактасын колдонуу
Comment[lt]=Naudoti klaviatūrą ekrane
Comment[lv]=Izmantot ekrāna tastatūru
Comment[mk]=Користи екранска тастатура
Comment[ml]=ഒരു ഓണ്‍-സ്ക്രീന്‍ കീബോര്‍ഡ് ഉപയോഗിക്കുക
Comment[mr]=ऑनस्क्रीन कळफलकचा वापर करा
Comment[nb]=Bruk tastatur på skjermen
Comment[nn]=Vis tastatur på skjermen
Comment[or]=ଗୋଟିଏ ଅନସ୍କ୍ରିନ କି ବୋର୍ଡ ବ୍ୟବହାର କରନ୍ତୁ
Comment[pa]=ਆਨ-ਸਕਰੀਨ ਕੀ-ਬੋਰਡ ਵਰਤੋਂ
Comment[pl]=Używa klawiatury ekranowej
Comment[pt]=Utilizar um teclado no ecrã
Comment[pt_BR]=Usar um teclado virtual
Comment[ro]=Utilizează o tastatură pe ecran
Comment[ru]=Использовать экранную клавиатуру
Comment[sk]=Použiť klávesnicu na obrazovke
Comment[sl]=Uporabi zaslonsko _tipkovnico
Comment[sr]=Користите тастатуру на екрану
Comment[sr@latin]=Koristite tastaturu na ekranu
Comment[sv]=Använd ett skärmtangentbord
Comment[ta]=திரை விசைப்பலகையை பயன்படுத்தவும்
Comment[te]=తెర-పైన కీబోర్డును ‌వుపయోగించు
Comment[th]=ใช้แป้นพิมพ์บนจอ
Comment[tr]=Ekran klavyesi kullan
Comment[ug]=ئېكران ھەرپتاختىسىنى ئىشلىتىدۇ
Comment[uk]=Використовувати екранну клавіатуру
Comment[vi]=Dùng bàn phím trên màn hình
Comment[zh_CN]=使用屏幕键盘
Comment[zh_HK]=使用顯示在螢幕上的鍵盤
Comment[zh_TW]=使用顯示在螢幕上的鍵盤
TryExec=gok
Exec=gok --login --access-method=directselection
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Accessibility;
AutostartCondition=GNOME /desktop/gnome/applications/at/screen_keyboard_enabled
X-GNOME-Provides=screen-keyboard
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gok
X-GNOME-Bugzilla-Component=general
